---
---

:root {
  --mdc-theme-primary: #00796B;
}

* {
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: monospace;
  display: inline-block;
  padding: 0px 4px;
  color: #a00;
  border-radius: 8px;
  background-color: #eee;
}

.mdc-toolbar__row:first-child::after {
  background-image: url("{{ site.baseUrl }}/assets/images/splash.jpg");
  background-size: cover;
  background-position: center;
}

.max-width {
  max-width: 1160px;
}

@media screen and (max-width: 680px) {
  #drawer-show-on-tablet-desktop {
    display: none;
  }
}

@media screen and (min-width: 681px) {
  .demo-menu {
    display: none;
  }
}
