<!DOCTYPE html>
<html lang="en" class="mdc-typography">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <style>
      .mdc-toolbar__row:first-child::after {
        background-image: url("{{ site.baseUrl }}/assets/images/4-3.jpg");
        background-size: cover;
        background-position: center;
      }
    </style>

    <title>{{ page.title | site.title }}</title>
  </head>
  <body style="display: flex; flex-direction: column; padding: 0; margin: 0; box-sizing: border-box; min-height: 100vh;">
    <header class="mdc-toolbar mdc-toolbar--fixed mdc-toolbar--waterfall mdc-toolbar--flexible mdc-toolbar--flexible-default-behavior mdc-toolbar--flexible-space-maximized">
      <div class="mdc-toolbar__row" style="height: 256px;">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <span class="mdc-toolbar__title">{{ site.title }}</span>
        </section>
      </div>
    </header>

    <main class="mdc-toolbar-fixed-adjust" style="display: flex; flex: 1 1 auto; height: 100%; box-sizing: border-box;">
      <nav class="mdc-permanent-drawer">
        <div class="mdc-list-group">
          <nav class="mdc-list">
            <a href="http://jcoleman.engineering" class="mdc-list-item">.engineering</a>
            <a href="http://jcoleman.photography" class="mdc-list-item">.photography</a>
          </nav>
          <div class="mdc-list-divider"></div>
          <nav class="mdc-list">
            {% for post in site.posts %}
              <a href="#" class="mdc-list-item">{{ post.title }}</a>
            {% endfor %}
          </nav>
        </div>
      </nav>

      <div style="padding: 16px;">
        {{ content }}
      </div>
    </main>

    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script>
      (function () {
        var pollId = 0;
        pollId = setInterval(function () {
          var pos = getComputedStyle(document.querySelector('.mdc-toolbar')).position;
          if (pos === 'fixed' || pos === 'relative') {
            init();
            clearInterval(pollId);
          }
        }, 250);
        function init() {
          var toolbar = mdc.toolbar.MDCToolbar.attachTo(document.querySelector('.mdc-toolbar'));
          toolbar.fixedAdjustElement = document.querySelector('.mdc-toolbar-fixed-adjust');
        }
      })();
    </script>
  </body>
</html>
