<!DOCTYPE html>
<html lang="en" class="mdc-typography">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">

    <title>{{ page.title | site.title }}</title>
  </head>
  <body style="display: flex; flex-direction: column; padding: 0; margin: 0; box-sizing: border-box; min-height: 100%;">
    <header class="mdc-toolbar mdc-toolbar--fixed">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <span class="mdc-toolbar__title">{{ site.title }}</span>
        </section>
      </div>
    </header>

    <main style="height: 100%" class="mdc-toolbar-fixed-adjust">
      <nav class="mdc-permanent-drawer">
        <div class="mdc-list-group">
          <nav class="mdc-list">
            {% for post in site.posts %}
              <a href="#" class="mdc-list-item">{{ post.title }}</a>
            {% endfor %}
          </nav>
        </div>
      </nav>

      <div>
        {{ content }}
      </div>
    </main>
  </body>
</html>
